<h1>Welcome to PlanPenn!</h1>
<%= form_for :user do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit :Login %>
  </p>
<% end %>

<%= link_to 'Register', controller: "register", action: "new" %>
